// Main colors
$base: #1C2B4A;
$primary: #50C0CD;
$primaryDark: #192D66;
$primaryNav: #0D5E9F;
$contrast: #FFD900;
$contrastGradient: linear-gradient(90deg, #FFD900 0%, #FFA600 100%);
$accent: #0B4A29;


// Secondary colors

$whtie: #fff;
$greyLight: #F1F1F4;
$greySemi: #DEDEDE;
$grey: #C9CACF;
$greyDark: #6D7078;

// System colors

$error: #D62A2A;
$visited: #5B4086;

